<a routerLink="/cars">reload page</a>
<h2>Страница машин</h2>
<hr>

<div class="row">
  <div class="col-sm-4">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let car of cars">
        <a 
        [routerLink]="['/cars', car.id, car.name]"
        [queryParams]="{year: car.year, color: car.color}"
        fragment="pic"
        >{{car.name}}</a>
      </li>
    </ul>
  </div>
  <div class="col-sm-8">
    <router-outlet></router-outlet>
  </div>
</div>


