<div class="container">
  <nav style="margin-bottom: 20px;" class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li routerLinkActive='active' [routerLinkActiveOptions]='{ exact: true }' class="nav-item"><a class="nav-link" routerLink="/">Главная</a></li>
        <li routerLinkActive='active' class="nav-item"><a class="nav-link" routerLink="/cars">Машины</a></li>
        <li routerLinkActive='active' class="nav-item"><a class="nav-link" routerLink="/new">New</a></li>
      </ul>
    </div>
  </nav>
  <div class="row">
    <div class="col-sm-10 offset-sm-1">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
