<h2>Главная страница</h2>
<hr>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab consequatur cum eius expedita harum mollitia natus nemo nostrum, officia pariatur qui quia quibusdam quos, ratione recusandae, temporibus ut veritatis voluptate.</p>
<hr>
<button class="btn btn-primary" (click)="openCarsPage()">Open cars page</button>
<hr>
<button class="btn btn-success" (click)="changeAuthStatus('login')">Log in</button>
<button class="btn btn-danger" (click)="changeAuthStatus('logout')">Log out</button>